node_modules/
public/
.env
.DS_Store
dist

# This is a bug by the mongo jest package, accidentally generating a globalConfig
# @source https://github.com/shelfio/jest-mongodb/issues/214
src/globalConfig.json 